.footer-login {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    font-size: small;
    background-color: #003783;
}

.admin {
    background-color: #f4f7fa;
}

.login {
    padding: 70px 0px  !important;
    background-color: #ffffff;
    border-radius: 20px;
}